body{
    margin: auto;
    padding: 0;
    display: flex;
    place-items: center;
    width: 100vw;
    height: 100vh;
}


.header{
    text-align: center;
    width: 70%;
    height: 50px;   
    padding: 10px;
    margin: 20px;
}

.title{
    font-family: "Silkscreen", serif;
    font-size: 50px;
    margin: 20px;
}

.title-home{
    font-size: 40px;
    font-family: "Playwrite VN", serif;
    margin: 0;
    padding: 0;
}

.made{
    margin: 5px;
    font-family: "Macondo", serif;
    font-size: 15px;
}


a {
    text-decoration: none; 
    color: inherit; 
}


.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 70%;
    align-items: center;
}

.wrapper{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    padding: 50px;
    margin-top: 50px;
}

.form-suit{
    margin: 10px;
    display: flex;
}

.button-suit{
    display: grid;
    place-items: center;
    text-align: center;
    margin: 8px;
    padding: 20px;
    width: 150px;
    height:90px;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.5);
    border: 2px,solid,black;
    background-color: white;
}

.button-suit:hover{
    background-color: black;
    .text-suit{
        color: white;
    }
    .icons-suit{
        color: white;
    }
}

.card{
    display: grid;
    place-items: center;
    background-color: white;
    border: 2px,solid,black;
    padding: 32px;
    margin: 8px;
    text-align: center;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.5);
    width: 200px;
    height: 80px;
}

.card:hover{
    background-color: black;
    .text{
        color: white;
    }
    .icons{
        color: white;
    }
}

.text{
    font-family: "Silkscreen", serif;
    width: 100%;
    margin: 0%;
}

.text-suit{
    font-family: "Inter", serif;
    width: 100%;
    height: 50%;
    margin: 0;
    padding: 0;
    line-height: 1.1;
}

.icons{
    font-size: 24px;
}

.icons-suit{
    font-size: 24px;
}

@media screen and (max-width: 666px) {
    .header{
        height: 10px;
    }
    .title{
        font-size: 35px;
    }
    h3{
        font-size: 15px;
    }
    .title-home{
        font-size: 25px;
    }
    .made{
        font-size: 12px;
    }
    .button-suit{
        height: 70px;
        width: 80px;
        padding: 15px;
    }
    .wrapper{
        margin-top: 5px;
    }
    .card{
        display: flex;
        height: 10px;
    }
    .text{
        font-size: 70%;
    }
    .text-suit{
        height: 20%;
    }
    .icons-suit{
        font-size: 17px;
    }
}