body{
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
}

header{
    text-align: center;
    width: 100%;
    height: 30px;;   
}

a {
    text-decoration: none; 
    color: inherit; 
}

h1{
    font-size: 40px;
    margin-bottom: 0;
}

.container{
    display: flex;
    width: 100%;
    height: 350PX;
    align-items: center;
    justify-content: center;
}

.wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    width:65%;
    height:65%;
    padding: 50px;
}

.card{
    background-color: white;
    border: 2px,solid,black;
    padding: 32px;
    margin: 8px;
    text-align: center;
    font-family: "Silkscreen", serif;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.5);
    width: 40%;
    height: 30%;
}

.text{
    width: 100%;
}
.icons{
    font-size: 24px;
}

.card:hover{
    background-color: black;
    .text{
        color: white;
    }
    .icons{
        color: white;
    }
}

