<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Convert term</title>
    <link rel="stylesheet" href="static/style.css">
    <link rel="shortcut icon" href="static/logo.png" type="image/x-icon">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>    
</head>
<body>
    <div class="container">
        <h1 class="title">Temp</h1>
        <h1 class="title">Conversion</h1>
        <h3>Please Enter The Input!</h3>
        <form action="/suhu" method = "POST" class="form-suhu">
            <input type="number" name = "Num_Input" class="input"  step="any" required>
            <div class="container-select">
                <div class="wrapper-select">
                    <LABel>from :</LABel>
                    <select name="select_id1" class="select">
                        <option value="C">Celsius</option>
                        <option value="F">Fahranheit</option>
                        <option value="K">Kelvin</option>
                        <option value="Re">Reamur</option>
                    </select>
                </div>
                <div class="wrapper-select">
                    <LABel>to :</LABel>
                    <select name="select_id2" class="select">
                        <option value="C">Celsius</option>
                        <option value="F">Fahranheit</option>
                        <option value="K">Kelvin</option>
                        <option value="Re">Reamur</option>
                    </select>
                </div>
            </div>
            <button type="submit" class="submit">Submit</button>
        </form>

        {% if output is not none %}
        <script>
         Swal.fire({
            html: '<p class ="text-swal" id="temp">{{input}} °{{first}}</p> <i class="fa-solid fa-arrow-right-long right-line"></i> <p class ="text-swal" id="temp">{{output}} °{{last}}</p>',
            iconHtml: '<i class="fa-regular fa-circle-check"></i>',
            title:'Success',
            confirmButtonText: "Ok",
                customClass: {
                    confirmButton: "custom-confirm-button",
                }
          });
          document.body.classList.remove('swal2-height-auto')
        </script>
        {% endif %}
    
        <a href="/" class="back">BACK</a>
    </div>

</body>
</html>